# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
secrets.toml
.env
.env.*
test_credentials.py
# Streamlit
.streamlit/

# Excel temporários
*.xlsx
!requirements.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

secrets.toml
